<div class="signup-form text-center">
  <main class="form-signup">
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <h1>Merci de vous inscrire</h1>

      <!-- button Modal -->
      <div class="form-floating my-2">
        <div
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Choix d'Avatar
        </div>
      </div>
      <div class="form-floating my-2" *ngIf="avatar">
        <img src="{{ avatar.link }}" alt="" />
      </div>
      <!--  -->
      <div class="form-floating my-2">
        <input
          type="text"
          class="form-control"
          id="floatingInputusername"
          placeholder=""
          name="username"
          formControlName="usernameFc"
          [ngClass]="{
            'is-valid':
              signupForm.controls['usernameFc'].touched &&
              signupForm.controls['usernameFc'].valid,
            'is-invalid':
              signupForm.controls['usernameFc'].touched &&
              !signupForm.controls['usernameFc'].valid
          }"
        />
        <label for="floatingInputusername">Username</label>
      </div>

      <div class="form-floating">
        <input
          type="date"
          class="form-control"
          id="floatingInputdob"
          placeholder=""
          name="dob"
          formControlName="dobFc"
        />
        <label for="floatingInputdob">Username</label>
      </div>

      <div class="form-floating my-2">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder=""
          name="email"
          formControlName="emailFc"
          [ngClass]="{
            'is-valid':
              signupForm.controls['emailFc'].touched &&
              signupForm.controls['emailFc'].valid,
            'is-invalid':
              signupForm.controls['emailFc'].touched &&
              !signupForm.controls['emailFc'].valid
          }"
        />
        <label for="floatingInput">Adresse email</label>
      </div>
      <div class="form-floating my-2">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder=""
          name="password"
          formControlName="passwordFc"
          [ngClass]="{
            'is-valid':
              signupForm.controls['passwordFc'].touched &&
              signupForm.controls['passwordFc'].valid,
            'is-invalid':
              signupForm.controls['passwordFc'].touched &&
              !signupForm.controls['passwordFc'].valid
          }"
        />
        <label for="floatingPassword">Mot de passe</label>
      </div>

      <button
        class="w-100 btn btn-lg btn-success"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        Je m'inscris !
      </button>
      <!-- <p>Value : {{ signupForm.value | json }}</p>
      <p>Form valid : {{ signupForm.valid }}</p> -->
    </form>
  </main>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Choix d'Avatar</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3" *ngFor="let a of avatarArray">
            <img
              src="{{ a.link }}"
              alt=""
              class="avatar m-2 rounded"
              (click)="onClick(a)"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
