<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Manga Shoten</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="home"
          >Accueil</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="bibli"
          >Collection</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="account/user"
          >Profil</a
        >
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="account/signin"
          >Sign In</a
        >
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="account/signup"
          >Sign Up</a
        >
      </div>
    </div>
  </div>
</nav>
